__pycache__/
data/jsondb/users.json
data/jsondb/users-otp.json
data/jsondb/invite_tokens.json
liked_products.json
recently_searched.json
.vscode
.venv
linux_files/fabric-samples
linux_files/install-fabric.sh
product-tracking/build/
.DS_Store
.idea/
